
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-9i8 {
  width: 100%;
  height: 204.5rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .image-1-kT2 {
    width: 144.7479rem;
    height: 205.3497rem;
    position: absolute;
    left: 0;
    top: 0.3rem;
    object-fit: cover;
    vertical-align: top;
  }
  .rectangle-1-rFA {
    object-fit: cover;
    vertical-align: top;
    width: 37.5rem;
    height: 42.1rem;
    position: absolute;
    left: 99.7rem;
    top: 36.3rem;
  }
  .hey-there-my-name-is-sameer-ul-rahman-and-im-a-ui-ux-designer-designer-student-developer-Mxc {
    top: 36.3rem;
    text-align: center;
    font-size: 6.4rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 75.9rem;
    height: 44.2rem;
    position: absolute;
    left: 10.25rem;
    font-weight: 600;
    font-style: italic;

    .hey-there-my-name-is-sameer-ul-rahman-and-im-a-ui-ux-designer-designer-student-developer-Mxc-sub-0 {
    }
    .hey-there-my-name-is-sameer-ul-rahman-and-im-a-ui-ux-designer-designer-student-developer-Mxc-sub-1 {
      line-height: 1.2125;
      font-style: italic;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 4rem;
      font-weight: 500;
    }
    .hey-there-my-name-is-sameer-ul-rahman-and-im-a-ui-ux-designer-designer-student-developer-Mxc-sub-2 {
      font-family: Inter, 'Source Sans Pro';
      font-size: 3.6rem;
      font-weight: 500;
      line-height: 1.2125;
      font-style: italic;
      color: #000000;
    }
  }
  .rectangle-2-ES4 {
    background-color: rgba(202, 247, 247, 0.5799999833);
    border-radius: 0 5rem 0 5rem;
    width: 15rem;
    height: 6.7rem;
    position: absolute;
    left: 19.5rem;
    top: 8.5rem;
  }
  .rectangle-3-SgY {
    position: absolute;
    left: 82rem;
    top: 9.4rem;
    object-fit: contain;
    vertical-align: top;
    border-radius: 0 5rem 0 5rem;
    width: 16.2rem;
    height: 6.7rem;
  }
  .rectangle-4-xet {
    position: absolute;
    left: 61.9rem;
    top: 8.5rem;
    background-color: rgba(202, 247, 247, 0.5799999833);
    border-radius: 0 5rem 0 5rem;
    width: 15rem;
    height: 6.7rem;
  }
  .rectangle-5-Gfa {
    width: 15rem;
    height: 6.7rem;
    position: absolute;
    left: 40.7rem;
    top: 8.5rem;
    background-color: rgba(202, 247, 247, 0.5799999833);
    border-radius: 0 5rem 0 5rem;
  }
  .home-C3S {
    position: absolute;
    left: 23.4rem;
    top: 10.4rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 3rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    font-style: italic;
    color: #000000;
    width: 7.3rem;
  }
  .about-hVz {
    position: absolute;
    left: 43.9rem;
    top: 10.4rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    font-style: italic;
    height: 3rem;
    font-family: Inter, 'Source Sans Pro';
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
    width: 8.6rem;
  }
  .work-cN4 {
    font-weight: 600;
    line-height: 1.2125;
    font-style: italic;
    font-family: Inter, 'Source Sans Pro';
    width: 7.4rem;
    height: 3rem;
    top: 10.4rem;
    font-size: 2.4rem;
    white-space: nowrap;
    position: absolute;
    left: 64.7rem;
    text-align: center;
    color: #000000;
  }
  .contact-urx {
    top: 11rem;
    text-align: center;
    font-size: 2.4rem;
    line-height: 1.2125;
    font-style: italic;
    height: 3rem;
    position: absolute;
    left: 84.2rem;
    font-weight: 600;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 11.9rem;
  }
  .about-me-i-am-a-creative-designer-and-developer-who-aims-to-work-with-small-businesses-and-marginalized-communities-to-bring-their-passions-to-life-i-offer-both-design-and-development-services-of-web-applications-or-websites-dY4 {
    text-align: center;
    font-style: italic;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.2125;
    width: 67.5rem;
    height: 31.1rem;
    position: absolute;
    left: 68.2rem;
    top: 142.7rem;

    .about-me-i-am-a-creative-designer-and-developer-who-aims-to-work-with-small-businesses-and-marginalized-communities-to-bring-their-passions-to-life-i-offer-both-design-and-development-services-of-web-applications-or-websites-dY4-sub-0 {
      font-family: Inter, 'Source Sans Pro';
      font-size: 4rem;
      font-weight: 600;
      line-height: 1.2125;
      font-style: italic;
      color: #000000;
    }
    .about-me-i-am-a-creative-designer-and-developer-who-aims-to-work-with-small-businesses-and-marginalized-communities-to-bring-their-passions-to-life-i-offer-both-design-and-development-services-of-web-applications-or-websites-dY4-sub-1 {
    }
  }
  .rectangle-6-r3S {
    vertical-align: top;
    border-radius: 36rem;
    width: 54.5rem;
    height: 56.3rem;
    position: absolute;
    left: 9.8rem;
    top: 124.9rem;
    object-fit: cover;
  }
}
